<app-header/>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Error</ion-title>
    </ion-toolbar>
  </ion-header>



  <ion-card color="danger" style="display: block; width: 50%; margin: auto;">
    <ion-card-header>
      <ion-card-title>Erreur</ion-card-title>
    </ion-card-header>

    <ion-card-content>
      <p>Quelque chose s'est mal passé. Veuillez réessayer plus tard.</p>
    </ion-card-content>
  </ion-card>


</ion-content>


