<app-header/>

<ion-content [fullscreen]="true">
  <ion-header [translucent]="true">
    <ion-toolbar>
      <ion-title>Bateaux</ion-title>
      <ion-title>Liste des bateaux</ion-title>
    </ion-toolbar>
  </ion-header>

  <ion-grid>
    <ion-row>
      <ion-col size="6" *ngFor="let bateau of bateauxList">
          <ion-card  (click)="goToSingleBateau(bateau)">
            <img alt="Silhouette of mountains" src="https://ionicframework.com/docs/img/demos/card-media.png" />
            <ion-card-header>
              <ion-label>
                <ion-title>
                  {{ bateau.name }}
                </ion-title>
              </ion-label>
            </ion-card-header>
          </ion-card>
      </ion-col>
    </ion-row>
  </ion-grid>

</ion-content>