ion-item{
  margin: 10px;
  border-radius: 24px;
}
.cardItemQuantity{
  display: flex;
}
.submit_button{
  text-align: center;
}
app-cart-summary{
  width: 100%;
  bottom: 0;

}
.cartList{
  height: 70%;
  overflow-y: scroll;
}
