<app-header/>
<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Contact</ion-title>
    </ion-toolbar>
  </ion-header>

  <div class="card-contact">
    <ion-card>
      <img alt="Contact" src="../../assets/picture/contact.jpg" />
      <ion-card-header>
        <ion-card-title>Le bateau de Thibault</ion-card-title>
        <ion-card-subtitle>
          06.63.99.99.78
        </ion-card-subtitle>
        <ion-card-subtitle>
          lebateaudeThibault&commat;gmail.com
        </ion-card-subtitle>
        <ion-card-subtitle>
          www.facebook.com/lebateaudeThibault
        </ion-card-subtitle>
     </ion-card-header>
  
      <ion-card-content>
        Quil est chaud le soleil
        Quand nous sommes en vadances
        Y a d lajoie, dee hirondelles
        Castle sud de la Frande Papa briesie au garage
        Maman it dans la chaise longue
        Dana ce jol paysage
        Moi je me balade en tongs
        Que de bonheur!
        Que de banheur!
      </ion-card-content>
    </ion-card>
  </div>

</ion-content>


