<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>Restaurants</ion-title>
    <ion-title>Description de la page</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  
  <ion-grid>
    <ion-row>
      <ion-col size="6">
          <ion-card>
            <img alt="Silhouette of mountains" src="https://ionicframework.com/docs/img/demos/card-media.png" />
            <ion-card-header>
              <ion-card-title>Card Title</ion-card-title>
            </ion-card-header>
          </ion-card>
      </ion-col>
      <ion-col size="6">
          <ion-card>
            <img alt="Silhouette of mountains" src="https://ionicframework.com/docs/img/demos/card-media.png" />
            <ion-card-header>
              <ion-card-title>Card Title</ion-card-title>
            </ion-card-header>
          </ion-card>
      </ion-col>
      <ion-col size="6">
          <ion-card>
            <img alt="Silhouette of mountains" src="https://ionicframework.com/docs/img/demos/card-media.png" />
            <ion-card-header>
              <ion-card-title>Card Title</ion-card-title>
            </ion-card-header>
          </ion-card>
      </ion-col>
     <ion-col size="6">
        <ion-card>
          <img alt="Silhouette of mountains" src="https://ionicframework.com/docs/img/demos/card-media.png" />
          <ion-card-header>
            <ion-card-title>Card Title</ion-card-title>
          </ion-card-header>
        </ion-card>
    </ion-col>
    </ion-row>
  </ion-grid>

</ion-content>