<app-header/>

<ion-content [fullscreen]="true">
  <ion-header [translucent]="true">
    <ion-toolbar>
      <ion-title>Restaurants</ion-title>
      <ion-title>Liste des restaurants</ion-title>
    </ion-toolbar>
  </ion-header>

  <ion-grid>
    <ion-row>
      <ion-col size="6">
          <ion-card>
            <img alt="Silhouette of mountains" src="https://ionicframework.com/docs/img/demos/card-media.png" />
            <ion-card-header>
              <ion-card-title>Bistrot des Gascons</ion-card-title>
            </ion-card-header>
          </ion-card>
      </ion-col>
      <ion-col size="6">
          <ion-card>
            <img alt="Silhouette of mountains" src="https://ionicframework.com/docs/img/demos/card-media.png" />
            <ion-card-header>
              <ion-card-title>Les fous de l'île</ion-card-title>
            </ion-card-header>
          </ion-card>
      </ion-col>
      <ion-col size="6">
          <ion-card>
            <img alt="Silhouette of mountains" src="https://ionicframework.com/docs/img/demos/card-media.png" />
            <ion-card-header>
              <ion-card-title>Bistrot Landais</ion-card-title>
            </ion-card-header>
          </ion-card>
      </ion-col>
     <ion-col size="6">
        <ion-card>
          <img alt="Silhouette of mountains" src="https://ionicframework.com/docs/img/demos/card-media.png" />
          <ion-card-header>
            <ion-card-title>Villa 9-Trois</ion-card-title>
          </ion-card-header>
        </ion-card>
    </ion-col>
    <ion-col size="6">
      <ion-card>
        <img alt="Silhouette of mountains" src="https://ionicframework.com/docs/img/demos/card-media.png" />
        <ion-card-header>
          <ion-card-title>Bistrot du Sommelier</ion-card-title>
        </ion-card-header>
      </ion-card>
  </ion-col>
    </ion-row>
  </ion-grid>

</ion-content>