<app-header/>

<ion-content [fullscreen]="true">
  <ion-header [translucent]="true">
    <ion-toolbar>
      <ion-title>Recettes</ion-title>
    </ion-toolbar>
  </ion-header>

  <ion-grid>
    <ion-row>
      <ion-col size="6" *ngFor="let recette of recettesList">
        <ion-card (click)="goToSingleRecette(recette)">
          <img [src]=recette.image [alt]=recette.name/>
          <ion-card-header>
            <ion-label>
              <ion-label>
                {{ recette.name }}
              </ion-label>
            </ion-label>
          </ion-card-header>
        </ion-card>
      </ion-col>
    </ion-row>
  </ion-grid>

</ion-content>