<app-header/>
<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title>Choisissez vos produits</ion-title>
    </ion-toolbar>
  </ion-header>
  
  <ion-grid><!-- mettre Ngfor du json ListProduct-->
    <ion-row>
      <ion-col size="6">
          <ion-card href="/list-product">
            <img alt="Silhouette of mountains" src="https://ionicframework.com/docs/img/demos/card-media.png" />
            <ion-card-header>
              <ion-card-title>Card Title</ion-card-title>
            </ion-card-header>
          </ion-card>
      </ion-col>
      <ion-col size="6">
          <ion-card>
            <img alt="Silhouette of mountains" src="https://ionicframework.com/docs/img/demos/card-media.png" />
            <ion-card-header>
              <ion-card-title>Card Title</ion-card-title>
            </ion-card-header>
          </ion-card>
      </ion-col>
      <ion-col size="6">
          <ion-card>
            <img alt="Silhouette of mountains" src="https://ionicframework.com/docs/img/demos/card-media.png" />
            <ion-card-header>
              <ion-card-title>Card Title</ion-card-title>
            </ion-card-header>
          </ion-card>
      </ion-col>
     <ion-col size="6">
        <ion-card>
          <img alt="Silhouette of mountains" src="https://ionicframework.com/docs/img/demos/card-media.png" />
          <ion-card-header>
            <ion-card-title>Card Title</ion-card-title>
          </ion-card-header>
        </ion-card>
    </ion-col>
    </ion-row>
  </ion-grid>

</ion-content>
